* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

header {
    background-color: rgb(33, 37, 42);
    color: white;
    text-align: center;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 10px 0px;
}

h2 {
    margin-bottom: 5px;
}

img {
    width: 100%;
}

.caja {
    border: 1px solid lightgrey;
    padding: 12px;
}

.containerflex {
    display: flex;
    justify-content: space-between;
}

.caja {
    margin: 0px;
    padding: 0px;
    max-width: calc(100%/3);
    margin-right: 12px;
}

.caja:last-child {
    margin-right: 0;
}

.caja img {
    object-fit: contain;
}

h3 {
    margin: 10px 17px;
}

p {
    margin: 8px 17px;
}

footer form {
    width: 100%;
    display: flex;
}

footer form select {
    flex-grow: 1;
    height: 30px;
}

footer {
    margin-bottom: 30px;
}

/*me faltaria pasar a mobile first, y luego creo 2 medias queries con min.width*/